@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.content {
    width: 80%;
    background-color: #F5F5F5;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    padding: 20px 0px 20px 20px;
}

.wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.heading {
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    padding: 0 50px;
}

.table h4 {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    padding: 20px 0;
}

.table {              
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px 0;
}

table {
    width: 90%;
    border-collapse: collapse;
    border: #000000;
    border-spacing: 0;

}


tr{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px 10px;
    padding: 10px 0px;
    transition-duration: 0.3s;
}
td img{
    align-items: start;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: fill;
}


td {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 10px;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 5px;
    margin: 5px;

}

.action-btns{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 150px;
}

/* delete button */
.delete-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.delete-svgIcon {
    width: 15px;
    transition-duration: 0.3s;
}

.delete-svgIcon path {
    fill: white;
}

.delete-button:hover {
    width: 50px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

.delete-button:hover .delete-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* .delete-button::before {
    display: none;
    content: "Delete";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
} */

/* edit Button */
.edit-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(32, 255, 3);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.edit-svgIcon {
    width: 15px;
    transition-duration: 0.3s;
}

.etit-svgIcon path {
    fill: white;

}

.edit-button:hover {
    width: 50px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(32, 255, 3);
    align-items: center;
}

.edit-button:hover .edit-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.edit-button::before {
    display: none;
    content: "Edit";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}
