@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.content {
    width: 80%;
    height: auto;
    background-color: #F8F7FC;
}

.content .header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.header h1 {
    font-size: 24px;
    /* font-weight: 500; */
    color: #333333;
    margin-left: 20px;
}

.form {
    width: 100%;
    margin-left: 40px;
    height: auto;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.title {
    width: 49%;
    float: left;
    height: auto;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.title h4 {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 10px;
}

.title input {
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    outline: none;
}

.title #short-des {
    height: 150px;
    width: 100%;
    margin: 10px 0px;
    padding: 5px;
    color: grey;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    outline: none;
}



.title #des {
    height: 200px;
    width: 100%;
    margin: 10px 0px;
    padding: 5px;
    color: gray;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    outline: none;
}

.Media {
    width: 50%;
    float: right;
    height: auto;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.pricing {
    width: 50%;
    float: right;
    height: auto;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.pricing h4 {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 10px;
}

.pricing h6 {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 10px;
}

.price {
    display: flex;
}

.inner-price {
    height: auto;
    padding: 10px;
}

.extra {
    width:50%;
    float: right;
    height: auto;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}