*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filter{
    display: flex;
    /* justify-content: space-between; */
    padding: 10px 0;
    border-bottom: 1px solid #ffffff;
}

.filter-content{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    width: 20%;
}

#priceRangeForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.filter-content button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}