::-webkit-scrollbar {
    display: none;
}

.main {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.first-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    margin: 0 10px;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
    font-size: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 5px 10px;
    width: 25%;
    height: 60vh;
}

.categories .category {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 3px 0;
}

.categories .category a {
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
}

.categories .category a i {
    width: 100px;
    display: inline-block;
    text-align: center;
}

.categories .category:hover {
    background-color: #F0EFFF;
    color: #A7B7DD;
    border-radius: 10px;
    transition: all 1s ease-in;
}

.categories .category a:hover {

    color: #A7B7DD;
}

/* slider start */
.slider {
    border-radius: 10px;
    width: 130vh;
    height: 60vh;
    margin: 0 10px;
}

.slides {
    width: 130vh;
    height: 60vh;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

.slides input {
    display: none;
}

.slide img {
    width: 130vh;
    height: 60vh;
    border-radius: 10px;
    object-fit: cover;
}

/* css for Manual Navigation */

.navigation-manual {
    position: absolute;
    width: 130vh;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease-in;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #40d3dc;
}

.first {
    transition: all 1s ease-in;
}

#radio2:checked~.first {
    margin-left: -100%;
    transition: all 1s ease-in;
}

#radio3:checked~.first {
    margin-left: -200%;
    transition: all 1s ease-in;
}

#radio4:checked~.first {
    margin-left: -300%;
    transition: all 1s ease-in;

}

#radio5:checked~.first {
    margin-left: -400%;
    transition: all 1s ease-in;
}

/* css for automatic navigation */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 130vh;
    justify-content: center;
    margin-top: 56vh;
}

.navigation-auto div {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease-in;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #40d3dc;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #40d3dc;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #40d3dc;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: #40d3dc;
}

#radio5:checked~.navigation-auto .auto-btn5 {
    background: #40d3dc;
}

/* slide  end*/

.browse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 0 10px;
}

.browse h1 {

    font-size: 40px;
    font-weight: bolder;
    color: #1D1D1F;
}

.browse span {
    font-size: 20px;
    font-weight: bolder;
    color: #1D1D1F;
}


.category {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    width: 80%;
    margin-bottom: 30px;

}

.product a {
    width: 400px;
    height: 480px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F4F5F7;

}

.product a:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.05);
    transition: 0.5s ease-in;
}

.product a {
    text-decoration: none;
}

.product-img {
    object-fit: cover;
    border-radius: 10px;
    width: 400px;
    height: 480px;
}

.product a span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 30px;
}


/* product Card */
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    background-color: #FFFFFF;
    margin: 0 10px;
}

.cards h1 {
    font-size: 40px;
    font-weight: 600;
    color: #1D1D1F;
}

.product-card {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px;
    margin: 0 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #F4F5F7;
    flex-wrap: wrap;
    width: 300px;
    height: 440px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    /* overflow: hidden; */
}

.additional-content {
    display: none;
    position: absolute;
    width: 300px;
    height: 440px;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.additional-content .content {
    position: absolute;
    width: 300px;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.share {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.share h6 a {
    color: #fff;
}


.additional-content button {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 48px;
    justify-content: space-between;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
    padding: 24px;
}

.additional-content button:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.additional-content button:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.card:hover .additional-content {
    display: block;
}


.card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    /* give box shadow in buttom of the image */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
}

.card-desc h1 {
    font-size: 20px;
    font-weight: 600;
    color: #1D1D1F;

}



.btn button {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.btn button:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.btn button :focus {
    outline: none;
    border: 2px solid #4285f4;
}


/* css for fade up */

.fade-up {
    transform: translateY(100px);
    opacity: 0;
    scale: 0.9;
    transition: 0.5s ease-out;
}

.fade-up-scrolled {
    transform: translateY(0px);
    opacity: 1;
    scale: 1;
}

/* css for typing indicator */

.typing-indicator {
    width: 60px;
    height: 30px;
    position: relative;
    z-index: 4;
}

.typing-circle {
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
    background-color: #000;
    left: 15%;
    transform-origin: 50%;
    animation: typing-circle7124 0.5s alternate infinite ease;
}

@keyframes typing-circle7124 {
    0% {
        top: 20px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 8px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.typing-circle:nth-child(2) {
    left: 45%;
    animation-delay: 0.2s;
}

.typing-circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
}

.typing-shadow {
    width: 5px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 30px;
    transform-origin: 50%;
    z-index: 3;
    left: 15%;
    filter: blur(1px);
    animation: typing-shadow046 0.5s alternate infinite ease;
}

@keyframes typing-shadow046 {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: 0.7;
    }

    100% {
        transform: scaleX(0.2);
        opacity: 0.4;
    }
}

.typing-shadow:nth-child(4) {
    left: 45%;
    animation-delay: 0.2s;
}

.typing-shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: 0.3s;
}