* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
    overflow-x: hidden;

}

nav {
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 100%;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

ul li {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

form {
    display: flex;
    border: 1px solid #A7B7DD;
    border-radius: 30px;
    transform: scale(0.95);
    transition: 0.5s ease all;
}


form:hover{
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adjust shadow parameters as needed */
    border-radius: 30px;
    transform: scale(1);
}

.search button {

    border: none;
    background-color: #F0EFFF;
    color: #A7B7DD;
    padding: 14px;
    font-size: 16px;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
    transition: 0.3s ease all;
}

.search button:hover {
    background-color: #4D47C3;
}


.search-area {
    width: 100%;
    min-width: 700px;
    border: #A7B7DD;
    width: fit-content;
    height: auto;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 30px;
}

::placeholder {
    color: #A7B7DD;
    font-size: 16px;
    text-align: center;  
    display: flex;
}

.search-area:focus {
    border: none;
    outline: none;
}

.navbar li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.button:hover {
    background-color: #4D47C3;
    color: #FFFFFF;
}

.profile a {
    text-decoration: none;
    background-color: #F0EFFF;
    padding: 10px;
    border-radius: 10px;
    color: #A7B7DD;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    /* font-size: 30px; */
}

i{
    cursor: pointer;
    transition: 0.5 ease all;
}

i:hover{
    color: #4D47C3;
}

.cart a .cart-svg {
    transition: 0.3 ease all;
}

.cart a .cart-svg:hover{
    color: #4D47C3;
}

.paste-button {
    position: relative;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: scale(0.9);
    transition: 0.5s ease all;
}

.paste-button:hover {
    transform: scale(1);
}

.button {
    background-color: #F0EFFF;
    color: #A7B7DD;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease all;
}

.dropdown-content {
    margin-top: 160px;
    display: none;
    font-size: 13px;
    position: absolute;
    z-index: 1;
    min-width: 200px;
    background-color: #F0EFFF;
    border: 2px solid #A7B7DD;
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: #A7B7DD;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.1s;
}

.dropdown-content a:hover {
    background-color: #F8FAFF;
    color: #212121;
}

.dropdown-content a:focus {
    background-color: #212121;
    color: #F0EFFF;
}

.dropdown-content #top:hover {
    border-radius: 0px 13px 0px 0px;
}

.dropdown-content #bottom:hover {
    border-radius: 0px 0px 13px 13px;
}

.paste-button:hover button {
    border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content {
    display: block;
}

.search-output {
    position: absolute;
    top: 70px;
    left: 0;
    width: 30%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
    margin-left: 25%;
}

.search-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px;
    border-bottom: 4px solid #6767673e;
    padding: 20px;
}

.search-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 10px;
}

.cart-count {
    position: absolute;
    top: 15px;
    right: 40px;
    background-color: #F0EFFF;
    color: #A7B7DD;
    padding: 3px 5px 3px 5px;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.has-notifications:after {
    content: '!';
    position: absolute;
    top: 15px;
    right: 140px;
    background-color: #F0EFFF;
    color: #A7B7DD;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    line-height: 15px;
}

#notification-dropdown {
    display: none;
    position: absolute;
    top: 70px;
    right: 57px;
    background-color: #F0EFFF;
    color: #A7B7DD;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    animation: fade-in .65s ease-in forwards;
}

#notification-dropdown h1 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

#notification-dropdown h1:after {
    content: ' ';
    display: block;
    width: 100%;
    padding-top: 4px;
    border-bottom: 1px solid black;

}

#notification-dropdown li {
    list-style-type: none;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}
#notification-dropdown li:last-child {
    border-bottom: none;
}
#notification-dropdown a {
    text-decoration: none;
    color: #A7B7DD;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

@keyframes scale-in {
    100% {
        transform: scale(1);
        opacity: 0.4;
    }
}


@keyframes expand {
	50% {
		width: 350px;
		border-radius: 6px;
	}
	100% {
		width: 300px;
		border-radius: 4px;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2),
								0px 1px 1px 0px rgba(0,0,0,.14),
								0px 3px 3px -1px rgba(0,0,0,.12);
	}
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .8;
    }
}