.content {
    padding: 0 7% 0 10%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80%;
}

.content h2 {
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: 500;
}

.content hr {
    margin-top: 30px;
    border: 1px solid #e0e0e0;
    width: 100%;
}

.profile {
    width: 100%;
    padding: 40px 0px 20px 0;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.form {
    width: 100%;
    height: 60vh;
    background-color: #FFFFFF;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px 100px 20px 20px;
}

.detail-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.first-name,
.last-name,
.email {
    width: 30%;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.detail-2 {
    width: 52%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.phone {
    width: 70%;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.gender {
    width: 30%;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.profile .btn {
    margin-top: 20px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile .btn button {
    width: 50%;
    height: 40px;
    background-color: #4D47C3;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}


.address {
    width: 100%;
    padding: 40px 0px 20px 0;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.delivery {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-color: #FFFFFF;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.delivery p {
    /* padding: 42px 30px; */
    font-size: 12px;
    color: #1a1a1a;
}

.delivery button {
    color: #4D47C3;
    ;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;

}

/* Add styles to the form container */
.form-container {
    width: 800px;
    height: 80vh;
    padding: 10px;
    background-color: white;
}

.form-container h2 {
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: 500;
}

.address-form-left{
    width: 49%;
    float: left;
}

.address-form-right{
    width: 49%;
    float: right
}
.form-container label{
    font-size: 12px;
    color: #1a1a1a;
    margin-bottom: 10px;
    display: block;
}

.address-form-left input,select{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}


.address-form-right input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}
.effectivedelivery{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.effectivedelivery button{
    width: 45%;
    height: 40px;
    border: none;
    cursor: pointer;
}

.effectivedelivery button:active{
    background-color: #4D47C3;
    color: #FFFFFF;
}

.action-btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.action-btns button{
    width: 45%;
    height: 40px;
    background-color: #4D47C3;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

