.content {
    padding: 0 7% 0 10%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80%;
}

.content h2 {
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: 500;
}

.content hr {
    margin-top: 30px;
    border: 1px solid #e0e0e0;
    width: 100%;
}

.profile {
    width: 100%;
    padding: 40px 0px 20px 0;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.form {
    width: 100%;
    height: 60vh;
    background-color: #FFFFFF;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px 100px 20px 20px;
}

.detail-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.profile-card{
    width: 30%;
    max-width: 450px;
    text-align: center;
    background-color: #fff;
    color: #333;
}
.profile-pic{
    width: 140px;
    border-radius: 50%;
    margin-top: -70px;
    margin-left: -80px;
}

.first-name,
.last-name,
.email {
    width: 30%;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.detail-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.phone {
    width: 30%;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.gender {
    width: 30%;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.profile .btn {
    margin-top: 20px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile .btn button {
    width: 50%;
    height: 40px;
    background-color: #4D47C3;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}


.address {
    width: 100%;
    padding: 40px 0px 20px 0;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.delivery {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.delivery p {
    /* padding: 42px 30px; */
    font-size: 12px;
    color: #1a1a1a;
}

.delivery button {
    color: #4D47C3;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;

}

/* Add styles to the form container */
.form-container {
    width: 800px;
    height: 80vh;
    padding: 10px;
    background-color: white;
}

.form-container h2 {
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: 500;
}

.address-form-left {
    width: 49%;
    float: left;
}

.address-form-right {
    width: 49%;
    float: right
}

.form-container label {
    font-size: 12px;
    color: #1a1a1a;
    margin-bottom: 10px;
    display: block;
}

.address-form-left input,
select {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}


.address-form-right input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.effectivedelivery {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.effectivedelivery button {
    width: 45%;
    height: 40px;
    border: none;
    cursor: pointer;
}

.effectivedelivery button:active {
    background-color: #4D47C3;
    color: #FFFFFF;
}

.action-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.action-btns button {
    width: 45%;
    height: 40px;
    background-color: #4D47C3;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}


.radio-input {
    display: flex;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.radio-input input[type="radio"] {
    display: none;
}

.radio-input label {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #212121;
    color: white;
    border-radius: 5px;
    margin-right: 12px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.radio-input label:before {
    content: "";
    display: block;
    position: absolute;
    color: black;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ccc;
    transition: all 0.3s ease-in-out;
}

.radio-input input[type="radio"]:checked+label:before {

    background-color: green;
    color: white;
    top: 0;
}

.radio-input input[type="radio"]:checked+label {
    background-color: royalblue;
    color: #fff;
    border-color: rgb(129, 235, 129);
    animation: radio-translate 0.5s ease-in-out;
}

@keyframes radio-translate {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateX(0);
    }
}



 .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;

}
.cards .card {
    margin-top: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.card .address-details{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}
.card .address-details h3{
    font-size: 16px;
    color: #1a1a1a;
    margin-bottom: 10px;
    display: block;
}
.card .address-details h1::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000000;
    

}

.card .address-details p{
    font-size: 16px;
    color: #1a1a1a;
    margin-top: 10px;

    display: block;
}

.card .action-btn{

    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
 
  
}

.card .action-btn button {
    width: 100%;
    height: 40px;
    background-color: #4D47C3;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}