 .category {
    margin-top: 10px;
    margin-left: 240px;
    display: flex;
    flex-direction: row;
} 

.categories {

    margin-right: 10px;
    background-color: #FFFFFF;
    width: 248px;
    height: 330px;
    border-radius: 30px;
}
.items{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 8px 0 10px 0;
    padding: 3px;
}
.items:hover{
    background-color: #F5F5F5;
    border-radius: 30px;
}

.items a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
 
}

.slidshow {
    margin-left: 5px;
    background-color: #FFFFFF;
    width: 778px;
    height: 330px;
    border-radius: 30px;
}

.slidshow-img{
    border-radius: 30px;
    width: 100%;
    max-height: 100%;
}

.product {
    margin-top: 10px;
    margin-left: 240px;
    display: flex;
    flex-direction: row;
}

.products {
    margin-right: 16px;
    background-color: #FFFFFF;
    width: 248px;
    height: 268px;
    border-radius: 30px;

}
.products a{
    position: relative;
    text-decoration: none;
   
}
.products a span{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    top: -10px;
    left: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  
    color: white;
}
.product-img{
    border-radius: 30px;
    width: 248px;
    height: 268px;
}



 h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 36px;
    color: #1D1D1F;
    margin: 10px 0 10px 240px;
}
/* line right below h1 tag using after property */
h1::after{
    content: '';
    display: block;
    width: 81%;
    height: 3px;
    background: #1D1D1F;
    margin-bottom: 10px
   
}

.card{
    
    margin-left: 240px;
    display: grid;
    grid-template-columns: repeat(4,0fr);
   
}

.cards{
    margin-right: 16px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    width:248px;
    height: 268px;
    border-radius: 30px;
}

.btn   {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    color: #F5F5F5;
    background: #1D1D1F;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
}
