::-webkit-scrollbar {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.first-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    margin: 0 10px;
}

.categories {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
    font-size: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 5px 10px;
    width: 25%;
    height: 60vh;
}
.categories .category{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    /* height: 100%; */
    padding: 3px;
}

.categories .category a {
    text-decoration: none;
    color: #000000;
    border-radius: 10px;

}

.categories .category a i {
    width: 100px;
    display: inline-block;
    text-align: center;
}

 .categories .category:hover {
    background-color: #40d3dc;
    color: #FFFFFF;
    border-radius: 10px;
    transition: all 1s ease-in
}
.categories .category a:hover {
    color: #FFFFFF;
}

/* slider start */
.slider {

    border-radius: 10px;
    width: 130vh;
    height: 60vh;
    margin: 0 10px;


}

.slides {
    width: 130vh;
    height: 60vh;
    display: flex;
    overflow: hidden;
    border-radius: 10px;

}

.slides input {
    display: none;
}

.slide img {
    width: 130vh;
    height: 60vh;
    border-radius: 10px;
    object-fit: cover;
}

/* css for Manual Navigation */

.navigation-manual {
    position: absolute;
    width: 130vh;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease-in;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #40d3dc;
}

.first {
    transition: all 1s ease-in;

}

#radio2:checked~.first {
    margin-left: -100%;
    transition: all 1s ease-in;

}

#radio3:checked~.first {
    margin-left: -200%;
    transition: all 1s ease-in;

}

#radio4:checked~.first {
    margin-left: -300%;
    transition: all 1s ease-in;

}

#radio5:checked~.first {
    margin-left: -400%;
    transition: all 1s ease-in;

}

/* css for automatic navigation */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 130vh;
    justify-content: center;
    margin-top: 56vh;
}

.navigation-auto div {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease-in;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
    /* transition: all 1s ease-in; */

}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #40d3dc;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #40d3dc;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #40d3dc;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: #40d3dc;
}

#radio5:checked~.navigation-auto .auto-btn5 {
    background: #40d3dc;
}

/* slide */

.browse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 40px; */
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 0 10px;
  
}

.browse h1 {

    font-size: 40px;
    font-weight: bolder;
    color: #1D1D1F;
}

.browse span {
    font-size: 20px;
    font-weight: bolder;
    color: #1D1D1F;
    /* margin-bottom: 20px; */
}


 .category {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    width: 80%;
    margin-bottom: 30px;

}

.product a {
    /* margin: 10px 0 10px 0; */
    width: 400px;
    height: 480px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F4F5F7;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.product a:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.05);
    transition: 0.5s ease-in;
}

.product a {
    text-decoration: none;
}

.product-img {
    object-fit: cover;
    border-radius: 10px;
    width: 400px;
    height: 480px;
}

.product a span {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #F5F5F5; */
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 30px;
}


/* product Card */
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    /* border: 1px solid #1D1D1F; */
    background-color: #FFFFFF;
 
    margin: 0 10px;
}

.cards h1 {
    font-size: 40px;
    font-weight: 600;
    color: #1D1D1F;
}

.product-card {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px;
    margin: 0 10px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    flex-wrap: wrap;
    width: 300px;
    height: 440px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.05);
    transition: 0.5s ease-in;
}

.card-image {
    width: 300px;
    height: 300px;
    overflow: hidden;

}

.card-image img {
    object-fit: cover;
    width: 300px;
    height: 300px;
  
}
.card a{
    text-decoration: none;
    color: #000000;
}

.card-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card-desc h3{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    margin: 0;
}

.card-desc h6{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    margin: 0;

}


.card-desc ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    margin: 0;
}

/* .card-desc ul li{
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: start;
    font-size: 25px;
    color: #000000;
    list-style: none;
    font-weight: 600;
} */

/* .card-desc h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}

.card-desc h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #1D1D1F;
}

.card-desc p {
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-desc span {
    color: #4D47C3;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */






/* 
.card-footer {
    background-color: #1D1D1F;
    width: 100%;
    max-width: 248px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0 10px 0 10px;
}

.rating {
    color: #F5F5F5;

}
 */


.btn {
    /* margin: 10px 0 10px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.btn button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: #4D47C3;
    border: 1px solid #4D47C3;
    background: #F5F5F5;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
}


/* css for fade up */

.fade-up {
    transform: translateY(100px);
    opacity: 0;
    scale: 0.9;
    transition: 0.5s ease-out;
}

.fade-up-scrolled {
    transform: translateY(0px);
    opacity: 1;
    scale: 1;
}