::-webkit-scrollbar {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 32px;
}

.slider {
    background-color: #FFFFFF;
    width: 100%;
    height: 60vh;
    border-radius: 10px;

}

.slides{
    width: 100%;
    background-color: #4D47C3;
     height: 60vh;
    display: flex;
    overflow: hidden;
    /* object-fit: cover; */
}

.slides input{
    display: none;
}

.slide img{ 
    width: 100%;
    height: 60vh;
    border-radius: 20px
}



/* .slidshow-img {
    object-fit: fill;
    border-radius: 10px;
    width: 90%;
    height: 60vh;

} */

.browse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 0 10px;

}

.browse h1 {
    font-size: 40px;
    font-weight: 600;
    color: #1D1D1F;
}
.browse span{
    font-size: 20px;
    font-weight: 600;
    color: #1D1D1F;
    /* margin-bottom: 20px; */
}

.browse h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #1D1D1F;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
}



.product a {
    /* margin: 10px 0 10px 0; */
    width: 400px;
    height: 480px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F4F5F7;
}

.product a {
    text-decoration: none;
    
}

.product-img {
    object-fit: cover;
    border-radius: 10px;
    width: 400px;
    height: 480px;
}

.product a span {
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* background-color: #F5F5F5; */
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 30px;
}


/* product Card */
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    /* border: 1px solid #1D1D1F; */
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 0 10px;
}
.cards h1 {
    font-size: 40px;
    font-weight: 600;
    color: #1D1D1F;
}

.product-card{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 16px;
    margin: 0 10px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    flex-wrap: wrap;
    width: 285px;
    height: 446px;
    overflow: hidden;
}

.card-image{
   
    width: 285px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}
.card-image img{
    object-fit: cover;
    width: 285px;
    height: 300px;
    border-radius: 10px;
}

.card-desc{
    max-width: 248px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    gap: 10px;
   
}

.card-desc h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}
.card-desc h1::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #1D1D1F;
}

.card-desc p{
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-desc span{
    color: #4D47C3  ;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}






/* 
.card-footer {
    background-color: #1D1D1F;
    width: 100%;
    max-width: 248px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0 10px 0 10px;
}

.rating {
    color: #F5F5F5;

}
 */


.btn {
    /* margin: 10px 0 10px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
   
}

.btn button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: #4D47C3;
    border: 1px solid #4D47C3;
    background: #F5F5F5;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
}


/* css for fade up */

.fade-up {
    transform: translateY(100px);
    opacity: 0;
    scale: 0.9;
    transition: 0.5s ease-out;
}

.fade-up-scrolled {
    transform: translateY(0px);
    opacity: 1;
    scale: 1;
}