* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
    overflow-x: hidden;

}

nav {
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

ul li {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    border: 1px solid #000000;
    border-radius: 30px;

}


.search i {
    font-size: 30px;
    padding: 5px;
    border-left: 1px solid #000000;
}

.search-area {
    width: 100%;
    min-width: 700px;

    width: fit-content;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 30px;
}

.search-area:focus {
    border: none;
    outline: none;
}

.navbar li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.profile a {
    text-decoration: none;
    color: #000000;
    font-size: 30px;
}


.wishlist a {
    text-decoration: none;
    color: #000000;
    font-size: 30px;
}

.cart a {
    text-decoration: none;
    color: #000000;
    font-size: 30px;
}

/* Media Quearies */