@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    background: rgba(11, 11, 11, 0.89);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 26%;
    height: 90vh;
    border-radius: 30px 0 0 30px;
    background: rgba(11, 11, 11, 0.89);
    box-shadow: 0px 4px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.main{
    width: 50%;
    height: 90vh;
    background-color: #fff;
    flex-shrink: 0;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    right: 50px;
}

.estore{
    margin: 20px;
}

.container h1{
    color: #f2efef;
    font-family: 'Syne', sans-serif;
    /* font-size: 50px; */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0em;
    margin-top: 30%;
    font-size: 30px;
    margin-left: 70px;
}

.main h1{

    color: #313131;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    margin-left: 20px;
    line-height: normal;
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 20px;
}


.main .input-box{
    margin-bottom: 14px;
    margin-left: 15%;
}

.input-box input{
    width: 38%;
    height: 45px;
    margin-right: 5px;
    border-radius: 8px;
    border: 1px solid #535353;
    padding: 0 20px;
}

.main .input{
    margin-left: 15%;
    width: 66%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #535353;
    margin-bottom: 14px;
    padding: 0 20px;
}

.main .button{
    margin-left: 15%;
    width: 66%;
    height: 45px;
    border-radius: 8px;
    border: none;
    margin-bottom: 5px;
    background: #1F1F1F;
    color: #FFFEFE;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.main .anker{
    margin-left: 15%;
    color: #888;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main a{
    text-decoration: none;
}

.input-box label{
    position: absolute;
    
    pointer-events: none;
}

::placeholder{
    color: rgba(60, 60, 60, 0.81);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.or{
    height: 55px;
    width: 66%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;  
    position: relative; 
}

.or::after{
    content: '';
    width: 45%;
    height: 1px;
    background: #888;
    position: absolute;
    top: 50%;
    left: 0;
    /* z-index: -1; */

}
.or::before{
    content: '';
    width: 45%;
    height: 1px;
    background: #888;
    position: absolute;
    top: 50%;
    right: 0;
    /* z-index: -1; */

}

.or .i{
    text-align: center;
    color: #888;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.social-button{
    height: auto;
    width: auto;
    margin-left: 15%;
    
}

.social-button button{
    
    height: 45px;
    width: 38%;
    margin-top: 10px;
    text-align: center;
    border-radius: 8px;
    margin-right: 5px;
    border: 1px solid #535353;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: rgba(60, 60, 60, 0.81);
    background-color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.media-svg{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.main .login-input{
    
    margin-left: 15%;
    width: 66%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #535353;
    margin-bottom: 14px;
    padding: 0 20px;
}

.main .buttons{
    margin-bottom: 5px;
    margin-left: 15%;
}

.buttons button{
    width: 38%;
    height: 45px;
    margin-right: 5px;
    border-radius: 8px;
    border: 1px solid #535353;
    position: relative;
    padding: 0 20px;
    background: #1F1F1F;
    color: #FFFEFE;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    
}

.main .pass-forgot{
    margin-right: 19%;
    color: #888;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: end;
}