
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.content {
    width: 80%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

table {
    border-collapse: collapse;
    width: 80%;
    background-color: #FFFFFF;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #FFFFFF;
}

th {
    background-color: #f2f2f2;
}

td button {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

td button:hover,
td button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

td button:active {
    opacity: .5;
}
